.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 0 2rem;
  background-color: var(--bg-main);
  color: var(--text-primary);
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  justify-content: center;
}

@media (max-width: 1200px) {
  .page {
    max-width: fit-content;
  }
}

@media (max-width: 768px) {
  .page {
    padding: 0 0;
  }
}